<%= form_for @changeset, @action, [multipart: true], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :csv_file %>
  <%= file_input f, :csv_file %>
  <%= error_tag f, :csv_file %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
