$font-size: (
  sm: .875rem,   // 14px
  md: 1rem,      // 16px
  xxxl: 1.5rem,  // 24px
);

// Font Weight
$font-weight: (
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700
);

$brand-gray: (
  light: #f6f6f6,
);

// Bootstrap variables
$primary: #5cd3b4;
$font-family-base: 'Roboto', sans-serif;

// Header
$app-header-height: 4rem;
