<!DOCTYPE html>
<html lang="en" class="layout-default">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ElixirSearchExtractor</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="<%= body_class_name(@conn) %>">
    <header class="app-header">
      <%= render ElixirSearchExtractorWeb.SharedView, "_app-navbar.html", conn: @conn %>
    </header>
    <main class="app-content">
      <%= render ElixirSearchExtractorWeb.SharedView, "_toast.html", conn: @conn %>
      <%= @inner_content %>
    </main>
  </body>
</html>
